<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h2 class="fw-bold mb-2 text-uppercase mt-3">Reset Password</h2>
      <p class="text-dark-50 mb-5">Please enter new password!</p>
      <form>
        <div class="form-group mt-3">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="New Password">
        </div>
        <button type="submit" class="btn btn-primary mt-2" style="width: 100%;">Reset</button>
      </form>
    </div>
  </div>
</div>
