<div *ngIf="items && items.length > 0 else noRecordTable">
  <ul class="list-group mt-5">
    <app-list-product-form [items]="items" (itemDelete)="deleteItem($event)"></app-list-product-form>
  </ul>
</div>
<!-- <div *ngIf="!items || items.length <= 0">
    <h1>No Product(s) Found!</h1>
  </div> -->
<ng-template #noRecordTable>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Product Price</th>
        <th scope="col">Availabilty</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">
          <h1 class="text-center">
            No record(s) found.
          </h1>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
