<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <h1>
                My Cart
            </h1>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                <app-add-product [items]="items"></app-add-product>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="form-group">
                    <input type="button" value="Clear All" (click)="clearTasks()" class="btn btn-primary mt-2"
                        id="btnClear" name="btnClear">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto">
                <app-list-product [items]="items">

                </app-list-product>
            </div>
        </div>
    </div>

</div>