<div class="container">
<p class="mt-5">
  <a class="btn btn-secondary" routerLink="../add">Add User</a>
</p>
</div>
<div *ngIf="users.length > 0; else noRecordTable" class="table">
   <app-user-list-item *ngFor="let user of users" [user]="user" (userDelete)="deleteUser($event)" ></app-user-list-item>
</div>
<ng-template #noRecordTable>
  <table class="table">

    <tbody>
      <tr>
        <td colspan="4">
          <h1 class="text-center">
            No record(s) found.
          </h1>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
