
<form>
    <div class="form-group">
      <label for="productName">Product Name</label>
      <input type="text" class="form-control" #productName id="productName" name="productName" placeholder="product-name">
    </div>
    <div class="form-group">
      <label for="productPrice">Price</label>
      <input type="number" class="form-control" #productPrice id="productPrice" name="productPrice" placeholder="price">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" #isAvailable class="form-check-input" id="isAvailable">
      <label class="form-check-label" for="isAvailable">Is Available?</label>
    </div>
    <button type="button" (click)="onBtnAddItemClick()" class="btn btn-primary mt-2">Add Item</button>
  </form>
  